/*Nav bar styling*/
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  
  body {
    font-family: kalam;
    background-color: white;
  }
  nav {
    background: white;
    height: 80px;
    width: 100%;
  }
  label.logo {
    color: black;
    line-height: 80px;
    font-weight: normal;
    background-color: white;
    font-weight: 800;
  }
  nav ul {
    float: right;
    margin-right: 20px;
  }
  nav ul li {
    display: inline-block;
    line-height:80px;
    margin: 0 5px;
  }
  nav ul li a {
    font-family: kalam;
    color: black;
    background-color: white;
    text-transform: uppercase;
  }
  a.active,
  a:hover {
    font-family: kalam;
    transition: 0.5s;
  }
  .checkbtn {
    font-size: 30px;
    color: black;
    float: left;
    line-height: 80px;
    margin-left: 25px;
    cursor: pointer;
    display: none;
  }
  #check {
    display: none;
  }
  @media (max-width: 952px) {
    label.logo {
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a {
      font-size: 16px;
    }
  }
  @media (max-width: 858px) {
    .checkbtn {
      display: block;
    }
    ul {
      position: fixed;
      width: 100%;
      background: white;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
}
    nav ul li {
      display: block;
    }
    nav ul li a {
      font-size: 20px;
      font-weight: 800;
    }
    a:hover,
    a.active {
      background: none;
      color: black;
    }
    #check:checked ~ ul {
      left: 0;
    }
  }
  .logo {
    font-family: kalam;
    text-align: center;
    color: black;
    background: white;
    font-weight: 700;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  .active {
    font-family: kalam;
    text-align: center;
    font-weight: 800;
    color: black;
    background: white;
  }
/*Preset button styling*/
#Preset-Button{
border-color: black;
padding: 7px 13px;
font-size: xx-large;
}
/*Icons Styling*/
.Nav-Icon{
  width: 20px;
  height: 20px;
}
.First-Page-Icon{
  width: 30px;
  height: 30px;
}
.Social-Icons li{
  display: inline-block;
}
.Social-Icons {
  text-align: center;
}
/*FIrst Page Styling*/
.First-Page-Main{
text-align: center;
font-size: x-large;
font-weight: 400;
margin-top: -30%;
color: white;
}
.About-Image{
  text-align: center;
}
.About-Image-1{
 max-width: 100%;
 width: 30%;
 border-radius: 20px;
 -webkit-border-radius: 20px;
 -moz-border-radius: 20px;
 -ms-border-radius: 20px;
 -o-border-radius: 20px;
}
/*Images Styling*/
.First-Page-Image{
  max-width: 100%;
  width: 100%;
  height: auto;
  max-height: 550px;
}
/*Headings Styling*/
.Main-Page-Headings{
  text-align: center;
  margin-top: 25%;
}
.About-Page-Headings{
  text-align: center;
}
.Gear-Sub-Heading{
  color: black;
}
/*Paragraphs Styling*/
.Main-Page-Paragraphs{
  text-align: center;
  font-weight: 600;
  font-size: larger;
}
.About-Page-Paragraphs{
  text-align: center;
  font-weight: 600;
  font-size: larger;
}
.Personal-Favourites-Text{
  padding: 150px;
  font-weight: 500;
  font-size:xx-large;
}
.Product-Favourites-Text{
  padding: 150px;
  font-weight: 500;
  font-size:xx-large;
}
@media screen and (max-width:500px) {
  .Personal-Favourites-Text{
    padding: 120px;
    font-weight: 500;
    font-size:large;
  }
  .Product-Favourites-Text{
    padding: 120px;
    font-weight: 500;
    font-size:large;
  }
}
/*Div Container Styling*/
/*About page*/
.column{
  float:left;
  padding-left: 25%;
  padding-right: 25%;
  font-family: kalam !important;
  font-weight: 800;
  font-size: x-large;
}
.column1{
  float:left;
  width: 50%;
  padding: 2px;
  font-family: kalam !important;
  font-weight: 800;
  font-size: x-large;
}
.Personal-Favourites{
  background-color: #16161d;
  height: 435px;
  text-align: center;
  color: white;
}
.Product-Favourites{
  background-color: #16161d;
  height: 435px;
  text-align: center;
  color: white;
}
.column2{
  float:left;
  width: 33%;
  font-family: kalam !important;
  font-weight: 800;
  font-size: x-large;
}
.row::after{
  content:"";
  clear:both;
  display:table
}
@media screen and (max-width:500px){
  .column{
    width:100%
  }
  .column1{
    width:100%
  }
  .column2{
    width: 100%;
  }
  }
/*Footer Styling*/
.Footer-Paragraph{
  text-align: center;
}
.Personal-Favourite-Image{
  max-width: 100%;
  padding: 10px;
}