/*Nav bar styling*/
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  
  body {
    font-family: kalam;
    background-color: white;
  }
  nav {
    background: white;
    height: 80px;
    width: 100%;
  }
  label.logo {
    color: black;
    line-height: 80px;
    font-weight: normal;
    background-color: white;
  }
  nav ul {
    float: right;
    margin-right: 20px;
  }
  nav ul li {
    display: inline-block;
    line-height:80px;
    margin: 0 5px;
  }
  nav ul li a {
    font-family: kalam;
    color: black;
    background-color: white;
    text-transform: uppercase;
  }
  a.active,
  a:hover {
    font-family: kalam;
    transition: 0.5s;
  }
  .checkbtn {
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check {
    display: none;
  }
  @media (max-width: 952px) {
    label.logo {
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a {
      font-size: 16px;
    }
  }
  @media (max-width: 858px) {
    .checkbtn {
      display: block;
    }
    ul {
      position: fixed;
      width: 100%;
      background: white;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
}
    nav ul li {
      display: block;
    }
    nav ul li a {
      font-size: 20px;
      font-weight: 800;
    }
    a:hover,
    a.active {
      background: none;
      color: black;
    }
    #check:checked ~ ul {
      left: 0;
    }
  }
  .logo {
    font-family: kalam;
    text-align: center;
    color: black;
    background: white;
    font-weight: 700;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  .active {
    font-family: kalam;
    text-align: center;
    font-weight: 800;
    color: black;
    background: white;
  }
/*Preset button styling*/
#Preset-Button{
border-color: black;
padding: 7px 13px;
font-size: xx-large;
}
/*Icons Styling*/
.Nav-Icon{
  width: 20px;
  height: 20px;
}
.First-Page-Icon{
  width: 30px;
  height: 30px;
}
.Social-Icons li{
  display: inline-block;
}
.Social-Icons {
  text-align: center;
}
/*FIrst Page Styling*/
.First-Page-Main{
text-align: center;
font-size: x-large;
font-weight: 400;
margin-top: -40%;
color: white;
}
/*Images Styling*/
.First-Page-Image{
  max-width: 100%;
  width: 100%;
  height: auto;
  max-height: 550px;
}
/*Headings Styling*/
.Main-Page-Headings{
  text-align: center;
  margin-top: 35%;
}
/*Paragraphs Styling*/
.Main-Page-Paragraphs{
  text-align: center;
  font-weight: 600;
  font-size: larger;
}
