* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  
  text-transform: capitalize;
  background-color: #16161d;
}
nav {
  background-color: #16161d;
  height: 80px;
  width: 100%;
}
label.logo {
  background-color: #16161d;
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: normal;
  font-family: garamond;
 
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  font-family:  Garamond, serif;
  text-transform: capitalize;
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  
}
a.active,
a:hover {
  font-family: "'EB Garamond', serif";
  background: lightslategray;
  transition: 0.5s;
  
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
    font-family: garamond;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #16161d;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: white;
    font-family: garamond;
  }
  #check:checked ~ ul {
    left: 0;
    font-family: garamond;
  }
}
.logo {
  font-family: "'EB Garamond', serif";
  text-align: center;
  color: white;
  background: #16161d;
  font-weight: 700;
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
.active {
  font-family: "'EB Garamond', serif";
  text-align: center;
  color: white;
  background: #16161d;
}
.actives {
  font-family: "'EB Garamond', serif";
  text-align: center;
  color: white;
  font-weight: lighter;
  font-size: xx-large;
}
.video {
  position: relative;
  padding-bottom: 56.25%;
}
.video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
.video-layout {
  max-width: 500px;
  border: 1px solid green;
}
#vid-left {
  max-width: fit-content;
  margin-top: -10%;
  float: left;
}

#vid-right {
  max-width: fit-content;
  margin-left: 40%;
  float: right;
}

.LINKS {
  font-family: "'EB Garamond', serif";
  font-size: 30px;
}

.column {
  float: left;
  width: 30.33%;
  
  margin-left: 1%;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
p {
  font-family: 'EB Garamond', serif;;
  margin-left: 10%;
  font-size: xx-large;
  color: white;
}
.Suhas {
  font-family: 'EB Garamond', serif;;
  margin-left: 20%;
  font-size: xx-large;
  color: white;
}
.activess {
  margin-left: 25%;
}

u{
  text-decoration: underline;
}
.activesss{
  margin-left: -20%;
  color: white;
}
.Bodyc{
  background-color: #16161d;
}
.qwerty{
  color: white !important;
}
#29465B
.column{
  float:left;
  width:33.33%;
  padding:5px;
  
}
iframe{
 width: 500;
 height: 625;
}
.row::after{
  content:"";
  clear:both;
  display:table;
}
@media screen and (max-width:500px){
  .column{
    width:100%;
  }
  }

    .column10{
      float:left;
      margin-left: 10%;
      width:5%;
      font-family: 'EB garamond' ,  serif !important;
      font-size: large;
    }
    
    .row11::after{
      content:"";
      clear:both;
      display:table
    }
    @media screen and (max-width:500px){
      .column10{
        max-width:100%
      }
      }

a.Hover:hover{
  float:left;
  margin-left: 7%;
  width:10%;
  font-family: 'EB garamond' ,  serif !important;
  font-size: large;
}
a.Hover1:hover{
  float:left;
      margin-left: 2%;
      width:10%;
      font-family: 'EB garamond' ,  serif !important;
      font-size: large;
}
.row11::after{
  content:"";
  clear:both;
  display:table
}
@media screen and (max-width:500px){
  .column10{
    max-width:100%
  }
  }
.Image-8{
     max-width: 100%;
     height: 400px;
     
    }
    /*Container-3-Styling*/
.column11{
  float:left;
  width:50%;
  padding:20%;
  margin-top: -15%;
  font-family: roboto condensed !important;
  
}
.row::after{
  content:"";
  clear:both;
  display:table
}

@media screen and (max-width:500px){
  .column11{
    width:100%
  }
  }
  .column12{
    float:left;
    width:50%;
    padding:7%;
    font-family: roboto condensed !important;
margin-left: -10%;
    margin-top:3%;
    color: white;
  }
  .row::after{
    content:"";
    clear:both;
    display:table
  }
  @media screen and (max-width:500px){
    .column12{
      width:100%;
    }
    }

.Font-Family{
  color: white;
  font-family: roboto condensed !important;
  font-size: x-large;
}
.Font-Family1{
  color: white;
  font-family:caveat  !important;
  font-size: medium;
  margin-top: -6%;
}
.image-9{
  border-radius: 20px;
  height: 500px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  filter: drop-shadow(5px 4px 10px white );
  -webkit-filter: drop-shadow(5px 4px 10px white );
}